<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNAKE GAME</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<header> Connect 4</header>
<ul>
    <li><a href="/"> Back</a></li>
</ul>
<div id="game">
    <iframe width="900px" height="900px" src="https://sakmalek.github.io/connect4/" title="CONNECT4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>
<script src="/javascripts/script-c4.js"></script>
</body>
</html>